main {
	padding-top: 5rem;
	height: 100vh;
	display: grid;
	place-items: center;

	.card {
		display: grid;
		// place-items: center;
		// align-items: ;
		justify-items: center;
		grid-template-rows: 20%;
		grid-template-columns: 1fr;
		background-color: #eee;
		width: 30rem;
		aspect-ratio: 3/4;
		border-radius: 5rem;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;
		margin-top: 2rem;
	}
}
